.login-container {
  background-image: url('../../assets/transporte-logistica-buque-carga-contenedores-avion-carga_37416-103.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Esto hace que la imagen de fondo se mantenga fija mientras se desplaza el contenido de la página */
  background-size: cover; /* Esto hace que la imagen cubra todo el contenedor */
  background-position: center 90%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#card-login {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  border-radius: 8px;
  background-color: rgba(119, 212, 252, 0.65);
}

.login-container #content-imput {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2em;
}

.login-container #input {
  padding-right: 0 !important;
  width: 100%;
  background-color: #fff;
}

.login-container
  .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-74o7k8-MuiInputBase-root-MuiFilledInput-root {
  padding-right: 0;
}

.login-container #content-button:hover {
  transform: none;
}

.login-container #content-button {
  width: 100%;
  padding-top: 3em;
  height: 14%;
}

#login-button {
  width: 100%;
  height: 100%;
}


.login-container .content-footer {
  display: flex;
  width: 80%;
  height: 20%;
  justify-content: space-between;
  align-items: center;

}
a{
    text-transform: none;
}
