#container-card-carrier {
  padding: 2em;
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  min-height: 100%;
  flex: 1;
}

#container-card-carrier #wrapper-card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1;
}

#container-card-carrier #header-card {
  flex: 1;
}

#container-card-carrier #content-button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
#container-card-carrier #content-button:hover {
  transform: scale(1.1);
}
