.container-budget {
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  flex: 1;
  padding: 2rem;
}

#container-grid-budget{
  display: flex;
  justify-content: space-between;
}



.budget-buttom {
  height: 3.4rem;
  width: 100% !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
  color: #000 !important;
}

.budget-buttom:hover {
  background-color: var(--background-color) !important;
  transform: scale(1.1);
}

.imput-budget {
  background-color: #fff;
}

#label-budget {
  font-size: 1.3rem;
}
