#container-route{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex: 1;
  
}
#header-route{
  display: flex;
  justify-content: center;
  height: 600px;
}



#container-route .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
width: 100%;
}

#content-route-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#button-route{
  width: 100%;
  background-color: var(--background-color) !important;
  height: 3.4rem;
}

#button-route:hover {
  transform: scale(1.1);
}