#container-details{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
  flex: 1;
}
#wrapper-details{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70rem;
  background-color: var(--background-color);
  border-radius: 4px;
padding: 24px;
}
.input-label-details{
  display: flex !important;
  align-items: center ;
  text-align: end;
  width: 80px;
}
.label-details{
  font-size: 1.8rem !important;

}
#wrapper-details .grid-details{
  padding: 14px;
}
#wrapper-details #grid-price{
  padding: 14px !important;
}