:root {
  --background-color: #77d4fc;
  --background-buttom: #0080ff;
  font-size: 12px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

}
#root {
  
  width: 100%;
  height: 100%;
}
