:root {
  --background-color: #77d4fc;
  --background-buttom: #0080ff;
  font-size: 82.5%;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

}
#root {
  width: 100vw;
  height: 100vh;
}

body .button-scale:hover{
  transform: scale(1.1);
}